{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block body %}
{% if validlink %}
<center><h1 style='margin-top:60px;'>{% trans 'Enter new password' %}</h1></center>
<br/>
<p style='text-align:center;'>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<br/>{{request.get_full_path}}
<form action="." method="post">{% csrf_token %}
    <center style='margin-right:20px'>
    <table>
        <tr><td colspan='2'>{{ form.new_password1.errors }}</td></tr>
        <tr>
            <td style='text-align:right'><label for="id_new_password1">{% trans 'New password:' %}</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr><td colspan='2'>{{ form.new_password2.errors }}</td></tr>
        <tr>
            <td style='text-align:right'><label for="id_new_password2">{% trans 'Confirm password:' %}</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr><td colspan='2' style='text-align:center;'><br/><input type="submit" value="{% trans 'Change my password' %}" /></td></tr>
    <table>
    </center>
</form>
{% else %}
    <center>
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <br/>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </center>
{% endif %}
{% endblock %}
