{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body %}

<center><h1 style='margin-top:100px;'>{% trans "Password reset" %}</h1></center>
<br/>
<p style='text-align:center;'>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
<br/>
<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
{{ form.email.errors }}
<p style='text-align:center;'><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
